@import 'sass/stylesheet'

.content
    +container()
    padding-top: emify(54px)
    padding-bottom: emify(42px)

.article
    border-radius: $border-radius-base
    border: thin solid $border-color
    background-color: $white
    padding: emify( 10px )

.section
    margin: 21px 0 0

.videoList
    @extend %list-unstyled