@import 'sass/stylesheet'
@import "@glidejs/glide/src/assets/sass/glide.core"
@import "@glidejs/glide/src/assets/sass/glide.theme"

.container
    +container
    position: relative
    z-index: 2

.slideText
    text-shadow: 0 0 1px rgba($black, .2)
    padding-top: 15%
    padding-bottom: 15%
    max-width: 600px
    margin: 0

.slideTitle
    font-family: 'Courgette', cursive
    font-weight: 400

.slides
    list-style-type: none
    padding-left: 0
    margin-left: 0
    margin-bottom: 0
    align-items: stretch

    > li
        list-style-type: none
        padding-left: 0
        margin-left: 0
.slide
    background-size: cover
    background-repeat: no-repeat
    min-height: 250px
    max-height: 422px
    color: $white

    &::before
        +position(absolute, 0 null null 0)
        +size(100%)
        background-color: rgba($black, .4)
        content: ''
        z-index: 1
    
    &One
        background-image: url('/static/home/city-q-c-480-175-10.jpg')

        +breakpoint($screen-phablet-up)
            background-image: url('/static/home/city-q-c-600-300-10.jpg')
        
        +breakpoint($screen-tablet-up)
            background-image: url('/static/home/city-q-c-1440-500-10.jpg')

    &Two
        background-image: url('/static/home/food-q-c-480-175-5.jpg')

        +breakpoint($screen-phablet-up)
            background-image: url('/static/home/food-q-c-600-300-5.jpg')
        
        +breakpoint($screen-tablet-up)
            background-image: url('/static/home/food-q-c-1440-500-5.jpg')

    &Three
        background-image: url('/static/home/nightlife-q-c-480-175-7.jpg')

        +breakpoint($screen-phablet-up)
            background-image: url('/static/home/nightlife-q-c-600-300-7.jpg')
        
        +breakpoint($screen-tablet-up)
            background-image: url('/static/home/nightlife-q-c-1440-500-7.jpg')

    h1, .h1
        color: inherit
        margin-bottom: emify(6px, $measure: 'rem')

.arrow
    @extend %btn-plain
    border: 0 !important
    box-shadow: none !important
    font-size: emify($font-size-base * 2, $measure: 'rem')

    +breakpoint($screen-tablet-down)
        bottom: 0
        top: auto

.glide__arrow--left
    left: 16px

.glide__arrow--right
    right: 16px

.buttonDefault
    @extend %btn
    @extend %btn-primary

.section
    border: thin solid $border-color

    &Menu
        background-image: url('/static/home/food-q-c-640-480-6.jpg')
        background-position: 100% 0
        background-repeat: no-repeat
        background-size: 45% auto

        +breakpoint($screen-tablet-down)
            background-size: 100% auto

    &Location
        background-image: url('/static/home/people-q-c-640-480-4.jpg')
        background-position: 0 0
        background-repeat: no-repeat
        background-size: 45% auto

        .sectionContent

            +breakpoint($screen-tablet-up)
                float: right

        +breakpoint($screen-tablet-down)
            background-size: 100% auto

    &Contact
        background-image: url('/static/home/nightlife-q-c-640-480-8.jpg')
        background-position: 100% 0
        background-repeat: no-repeat
        background-size: 45% auto

        +breakpoint($screen-tablet-down)
            background-size: cover

    &Content
        max-width: 600px
        padding: emify(81px, $measure: 'rem') 0

        +breakpoint($screen-tablet-down)
            background-color: rgba($white, 0.8)
            border-radius: emify(3px, $measure: 'rem')
            display: inline-block
            margin: emify(30px, $measure: 'rem') 0
            padding: emify(10px, $measure: 'rem')
